@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@600&family=Playpen+Sans&family=Roboto&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playpen Sans';
}

body{
    align-items: center;
    text-align: center;
    background: url(foto.jpg);
    background-size: cover;
}

.Titulo{
    font-size: 3rem;
}

.inicio{
    width: 100%;
    background-color: white;
}

.descricao{
    margin-top: 1%;
    font-size: 1.5rem;
}

footer{
    margin-top: 10%;
    background-color: rgb(255, 255, 255);
    width: 80vw;
    height: 60vh;
    display: flex;
    justify-content: space-between;
}

canvas{
    margin-top: 3.5%;
    background-color: white;
}

.velocidade{
    font-size: 2rem;
}

.btn{
    width: 10%;
    height: 10%;
    margin-top: 30%;
    border-style: none;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    background-color: lightgreen;
}